.menus-card-container {
    display: block;
}

.menus-card-container.clicked {
    display: none;
}

.menu-info {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;

    .menu-titles {
        padding-top: 2px;
        padding-bottom: 2px;
        font-weight: bold;
        font-size: 16px;
    }

}