.menus-container {
    margin-top: 10px;
    background: #3d3d3d;

    .menus-header {
        font-size: 10px;
        height: 60px;
        background: #3d3d3d;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.menus-card-container {
    display: none;
}

.menus-card-container.clicked {
    display: block;
    padding-bottom: 10px;
}

.menu-card-container:first-child {
    padding-top: 20px;
}

.menu-info {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 10px;
    background-color: lightgray;

    h3 {
        font-size: 14px;
    }

    .menu-titles {
        font-weight: bold;
        font-size: 12px;
    }

}